input.invalid { background-color: #ffaaaa;}

.jsch-element.jsch-validation-string-pattern-invalid > div > .jsch-types-content > .jsch-type-string .jsch-validation-out-string-pattern,
.jsch-element.jsch-validation-string-maxLength-invalid > div > .jsch-types-content > .jsch-type-string .jsch-validation-out-string-maxLength,
.jsch-element.jsch-validation-string-minLength-invalid > div > .jsch-types-content > .jsch-type-string .jsch-validation-out-string-minLength,
.jsch-element.jsch-validation-string-format-invalid > div > .jsch-types-content > .jsch-type-string .jsch-validation-out-string-format,

.jsch-element.jsch-validation-number-multipleOf-invalid > div > .jsch-types-content > .jsch-type-number .jsch-validation-out-number-multipleOf,
.jsch-element.jsch-validation-number-maximum-invalid > div > .jsch-types-content > .jsch-type-number .jsch-validation-out-number-maximum,
.jsch-element.jsch-validation-number-minimum-invalid > div > .jsch-types-content > .jsch-type-number .jsch-validation-out-number-minimum,

.jsch-element.jsch-validation-any-type-invalid > .panel-heading > .input-group .jsch-validation-out-any-type,
.jsch-element.jsch-validation-any-anyOf-invalid > .panel-heading > .input-group .jsch-validation-out-any-anyOf,
.jsch-element.jsch-validation-any-allOf-invalid > .panel-heading > .input-group .jsch-validation-out-any-allOf,
.jsch-element.jsch-validation-any-oneOf-invalid > .panel-heading > .input-group .jsch-validation-out-any-oneOf,
.jsch-element.jsch-validation-any-not-invalid > .panel-heading > .input-group .jsch-validation-out-any-not

{ background-color: #ffaaaa; }


.jsch-element.jsch-validation-subinvalid {
  background-color: #fff3c3;
  border-left: 10px solid #ffaaaa;
}
.jsch-element.jsch-validation-invalid {
  background-color: #fff0f0;
}